[submodule "External/libgit2"]
	path = External/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "External/icu4c-osx"]
	path = External/icu4c-osx
	url = https://github.com/cosmer/icu4c-osx.git
